<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Infragistics4.Win.Portable.Core.v17.1" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1.20171.2032" newVersion="17.1.20171.2032" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Infragistics4.Shared.v17.1" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1.20171.2032" newVersion="17.1.20171.2032" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Infragistics4.Win.v17.1" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1.20171.2032" newVersion="17.1.20171.2032" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Infragistics4.Win.Misc.v17.1" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1.20171.2032" newVersion="17.1.20171.2032" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>