<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net461" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net461" />
  <package id="MahApps.Metro.SimpleChildWindow" version="1.5.0" targetFramework="net461" />
  <package id="Microsoft.Toolkit" version="5.1.1" targetFramework="net461" />
  <package id="Microsoft.Toolkit.Win32.UI.Controls" version="5.0.0" targetFramework="net462" requireReinstallation="true" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls" version="5.1.1" targetFramework="net462" requireReinstallation="true" />
  <package id="Microsoft.Toolkit.Wpf.UI.XamlHost" version="5.1.1" targetFramework="net462" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
</packages>